h1 {
   text-align: center;
   color: white;
}

.link {
   color: lightblue;
   font-size: 40px;
   margin: 50px;
}
body {
     background-image: url(cer2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     min-height: 100vh;
}
.yt {
    height: 100px;
    margin: 10px;
    
}
.dis {
    height: 110px;
    margin: 10px;
}
.kick {
    height: 110px;
    margin: 10px;
}
.insta {
    height: 110px;
    margin: 10px;
}
header {
    display: flex;
    justify-content: space-evenly;
}
p {
   color: white;
   margin: 30px;
   font-size: 20px;
}